@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

/* nicer touch targets on mobile */
button, a {
  -webkit-tap-highlight-color: transparent;
}
