[Unit]
Description=Sync calendario alcune volte al giorno (piu' denso i giorni di gara, da tarare)
[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
RandomizedDelaySec=15m
Persistent=true
[Install]
WantedBy=timers.target
